<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Form Student</title>
</head>
<body class="body">
    <div class="complete-form">
        <h1>Student</h1>
        <img class="imagen" src="https://media.defense.gov/2020/Apr/24/2002287949/780/780/0/200424-F-F3494-1001.JPG" alt="">
        <form class="form">
            <input class="input" type="text" placeholder="Name Student">
            <input class="input" type="text" placeholder="Age Student">
            <button class="button" type="submit">Save Student</button>
        </form>
        
    </div>   
</body>
</html>