<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bodyy">
    <div class="allCardss">
        <div class="individualCardd">
            <h1>Card Student</h1>
            <img class="imagenn" src="https://media.defense.gov/2020/Apr/24/2002287949/780/780/0/200424-F-F3494-1001.JPG" alt="">
           <div class="informationn">
            <p class="namee">Name :</p>
            <p class="nameStudentt">Allysson</p>
            <p class="agee">Age :</p>
            <p class="ageStudentt">23</p>
           </div>
           <button class="botonn">Delete</button>
           <button class="botonn">Update</button>
        </div>
        
    </div>
    
</body>
</html>